.containerPeliculasPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pelicula-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70vw;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 2px solid #e6dbdb;
    box-shadow: 0px 0px 8px #b47575;
}

.pelicula-header {
    text-align: center;
    margin-bottom: 20px;
}

.pelicula-titulo {
    font-size: 24px;
    font-weight: bold;
}

.pelicula-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.pelicula-poster {
    margin-right: 20px;
}

.pelicula-poster img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #e6dbdb;
    box-shadow: 0px 0px 8px #9d4848;;
}

.pelicula-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -7%;

}

.pelicula-details h4 {
    font-weight: bold;
}

.pelicula-details p {
    margin: 0;
}

.pelicula-details .pelicula-trailer {
    margin-top: 20px;
}


.horario-funcion {
    cursor: pointer;
    border-radius: 3px;
    background: none;
    float: left;
    text-transform: uppercase;
    border: 1px solid;
    color: rgb(255, 0, 0) !important;
    margin-bottom: 10px;
}
.horario-funcion:hover{
    color: rgb(255, 255, 255) !important;
    background:  rgb(255, 0, 0) !important;
}

.card-button {
    cursor: pointer;
}
.horario-links div {
    margin-bottom: 10px; /* Ajusta el valor según tus necesidades */
}